@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Handlee&family=Open+Sans:wght@300;400&display=swap");
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

* button {
  color: #f5f0f0;
  cursor: pointer;
  background: none;
  border: 5x;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

* a {
  color: #FCF9F9;
}

.App {
  background-color: #FCF9F9;
  color: #FCF9F9;
}

.NavBar .nav-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Open Sans', sans-serif;
  color: #e03737;
}

.NavBar .nav-list li {
  margin: auto 20px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

.home, .profile {
  background-color: #FCF9F9;
}

.banner {
  background-size: cover;
  background-position-y: center;
  width: 100%;
  height: 60vh;
  -webkit-box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.75);
}

.banner .overlay {
  position: inherit;
  background-color: rgba(68, 68, 68, 0.5);
  height: 60vh;
  width: 100%;
}

.banner .bannerContents {
  display: -ms-grid;
  display: grid;
  grid-template: 'title title . body' 20vh  'title title . body' 40vh / 25% 35% 10% 30%;
  padding: 0 4em;
  grid-gap: 0.5em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
  background-size: cover;
  background-position-y: center;
  font-family: 'Dela Gothic One', cursive;
  color: #FCF9F9;
  text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.62);
}

.banner .bannerContents .title {
  grid-area: title;
}

.banner .bannerContents .title h1 {
  font-size: 8vw;
}

.banner .bannerContents .title h4 {
  font-family: 'Open Sans', sans-serif;
  font-size: 5vw;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

.banner .bannerContents p {
  grid-area: body;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5vw;
  font-weight: 600;
}

.searchBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 3vh 5vw;
  color: #707070;
}

/* .searchBar .searchInput {
  padding: 5px 20px;
  background-color: #FFFFFF;
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.17);
          box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.17);
} */

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1vw;
  padding-top: 10vh;
}

.gallery li {
  list-style-type: none;
}

.thumbnail {
  width: 200px;
  height: 250px;
  background-size: cover;
}

.thumbnail .overlay {
  position: inherit;
  background-color: rgba(68, 68, 68, 0.4);
  height: 250px;
  width: 100%;
}

.thumbnail .overlay .details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: right;
      -ms-flex-align: right;
          align-items: right;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5%;
  min-height: 95%;
  font-size: 1em;
  color: #FCF9F9;
  text-align: right;
}

.thumbnail .overlay .details .topBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.userBookList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: center;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: right;
      -ms-flex-align: right;
          align-items: right;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #050505;
  padding-top: 15vh;
}

.userBookList button {
  color: rgb(241, 236, 236);
  background-color: rgb(99, 65, 65);
  /* padding: 5vh; */
  font-size: 22px;
}

.userBookList .userBook {
  display: -ms-grid;
  display: grid;
  padding: 5vh;
  border: solid black 1px;
  grid-template: "title title title title close" 6vh "bookImage author."  20vh "bookImage year" 20vh / 2fr 2fr 2fr 2fr 1fr;
}

.userBookList .userBook #title {
  grid-area: title;
}

.userBookList .userBook #bookImage {
  grid-area: bookImage;
}

.userBookList .userBook #author {
  grid-area: author;
}

.userBookList .userBook #year {
  grid-area: year;
}

.userBookList .userBook #category {
  grid-area: category;
}

.userBookList .userBook #save {
  grid-area: save;
}

.userBookList .userBook #close {
  grid-area: close;
}

.userBookList .userBookDetails {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: initial;
      flex-wrap: initial;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.userBookList .image {
  max-width: 30vw;
}

.userBookList .image section {
  padding-left: 3vw;
}

.userBookList .image img {
  max-width: 50%;
  max-height: auto;
}

.dialog {
  text-align: center;
}

.dialog .header {
  font-family: 'Roboto';
  color: #490829;
}

.dialog .image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 3%;
  min-height: 40vh;
  width: 40vw;
  background-size: cover;
  background-position: center;
  text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.62);
  color: #FCF9F9;
}

.dialog form * {
  color: #444444;
}

.dialog h4 {
  color: #444444;
}

.dialog p {
  color: #444444;
}